<h1> <%= ENV['RM_SITE_NAME'] %> </h1>

<p>
  Welcome to <%= ENV['RM_SITE_NAME'] %> at <%= ENV['RM_SITE_URL'] %>.
  Are those not the right names?  Then you didn't edit private_variables.sh
  very well, did you?  This file is what people will see when they first
  log into your MUD, so you should probably change it to say something
  that doesn't sound like 'fill in the blanks', too.
</p>

<p>
  You can find it at <span style="color:blue; font-family: monospace">app/views/client/home.html.erb</span>.
</p>

<p id="loginPara">
  JavaScript hasn't loaded yet or you have it turned off.
</p>

<script type="text/javascript">
  username = getCookie('login');
  if (username != null && username != "") {
    $('loginPara').innerHTML = "Logged in as " + username
  } else {
    $('loginPara').innerHTML = "Not logged in"
  }
</script>
