<p>
  <b>Base description:</b>
  <%=h @basic_object.base_description %>
</p>

<p>
  <b>Name:</b>
  <%=h @basic_object.name %>
</p>


<%= link_to 'Edit', edit_basic_object_path(@basic_object) %> |
<%= link_to 'Back', basic_objects_path %>
